<config>
	<validationRuleList>
		<validationRule>
			<fieldId>name</fieldId>
			<validatorList>
				<validator>
					<name>CheckIsNotEmptyValidator</name>
				</validator>
				<validator>
					<name>CheckMaxLengthValidator</name>
					<extraArgList>
						<extraArg>20</extraArg>
					</extraArgList>
				</validator>
			</validatorList>
		</validationRule>
		<validationRule>
			<fieldId>id</fieldId>
			<validatorList>
				<validator>
					<name>CheckIsNotEmptyValidator</name>
				</validator>
				<validator>
					<name>CheckMaxLengthValidator</name>
					<extraArgList>
						<extraArg>10</extraArg>
					</extraArgList>
				</validator>
				<validator>
					<name>CheckIsAlphabeticValidator</name>
				</validator>
			</validatorList>
		</validationRule>
		<validationRule>
			<fieldId>address</fieldId>
			<validatorList>
				<validator>
					<name>CheckIsNotEmptyValidator</name>
				</validator>
				<validator>
					<name>CheckMaxLengthValidator</name>
					<extraArgList>
						<extraArg>200</extraArg>
					</extraArgList>
				</validator>
			</validatorList>
		</validationRule>
		<validationRule>
			<fieldId>yubin</fieldId>
			<validatorList>
				<validator>
					<name>CheckIsYubinNoValidator</name>
				</validator>
			</validatorList>
		</validationRule>
		<validationRule>
			<fieldId>mail</fieldId>
			<validatorList>
				<validator>
					<name>CheckIsNotEmptyValidator</name>
				</validator>
			</validatorList>
		</validationRule>
		<validationRule>
			<fieldId>mail2</fieldId>
			<validatorList>
				<validator>
					<name>CheckIsSameValidator</name>
					<extraArgList>
						<extraArg>mail</extraArg>
					</extraArgList>
				</validator>
			</validatorList>
		</validationRule>
	</validationRuleList>
</config>